:root {
    box-sizing: border-box;
    --blue: #1AB7EF;
    --off-white: #FFFFF2;
    --black: #393D3F;
    --red: #FE4A49;
    --white: #FFF;
    --green: #139A43;
}

.black {
    background-color: black;
}

* {
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

h1 {
    color: var(--white);
    font-size: 40px;
}

.icon {
    width: 30px;
    height: 30px;
}

.strikethrough {
    text-decoration: line-through;
}

.smallIcon {
    width: 20px;
    height: 20px;
}

.whiteIcon {
    filter: invert(100%);
}

.button {
    background-color: var(--blue);
    color: var(--white);
    border-radius: 5px;
}

.justifyLeft {
    justify-self: start;
}

body {
    display: grid;
    grid-template-rows: 42px 1fr;
    height: 100vh;
    
}

.menuHeader {
    background-color: var(--blue);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    margin-bottom: 10px;
    color: var(--white);
}

.menuHeaderText {
    display: inline;
}

.pointer {
    cursor: pointer;
}

.end {
    float: right;
    margin: 4px 5px 0 0;
}

nav {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: var(--blue);
    border-radius: 8px;
    box-shadow: 5px 3px 3px var(--black);
    z-index: 9;
}

.newItemMenu {
    position: absolute;
    border: solid var(--black) 1px;
    top: 40px;
    right: 15px;
    background-color: var(--white);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 5px 3px 3px var(--black);
    z-index: 20;
}


main {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    height: 100%;
    background-color: var(--off-white);
}


/*Side Menu Styles*/
.sideMenu {
    background-color: var(--white);
    border-radius: 10px;
    border: solid var(--black) 1px;
    box-shadow: 5px 3px 3px var(--black);
    z-index: 10;
}

.sideMenuOption {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.sideMenuSelections {
    border-radius: 10px;
    border: solid var(--black) 1px;
    box-shadow: 5px 3px 3px var(--black);
    
}

.sideMenuSelections p {
    margin: 2px auto;
}
.projectCard {
    padding: 5px 10px;
    display: grid;
    width: 90%;
    grid-template-columns: 2fr 1fr 30px;
    grid-template-rows: 1fr 1fr 1fr;
    box-shadow: 5px 3px 3px var(--black);
    border-radius: 10px;
    border: solid var(--black) 1px;
}

.sidMenuProjectDate {
    grid-area: 1/2/2/3;
}

.sideMenuProjectDescription {
    grid-area: 2/1/3/4;
}

.sideMenuProjectTitle {
    grid-area: 1/1/2/2;
    font-size: 20px;
}

.sideMenuAddProjectTask {
    grid-area: 1/3/2/4;
}

.sideMenuEdit {
    grid-area: 3/1/4/2;
    justify-self: end;
}

.sideMenuDelete {
    grid-area: 3/2/4/3;
    margin-left: 10px;
}

.taskContainer {
    overflow: scroll;
    background-color: var(--off-white);
    grid-column: 1 / 3;
}


/*New Task Maker*/
.newMenu {
    position: absolute;
    background-color: var(--white);
    border-radius: 10px;
    border: solid var(--black) 1px;
    box-shadow: 5px 3px 3px var(--black);
    z-index: 15;
    top: 25%;
    right: 33%;
    width: 25%;
}

.newMenu>form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(1fr, 5);
    grid-gap: 5px;
    
}

#createTask>label {
    justify-self: end;
}

.checklistItem {
    display: flex;
}

input.button {
    grid-area: 8 / 1 / 9 / 3;
    width: 250px;
    justify-self: center;
}

#createProject>label {
    justify-self: end;
}

/*Task Card Styles*/
.taskCard{
    background-color: var(--white);
    border-radius: 10px;
    border: solid var(--black) 1px;
    box-shadow: 5px 3px 3px var(--black);
    width: 99%;
    height: auto;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    padding: 5px 0 0 10px;
}

.taskCompleted {
    background-color: var(--green);
}

.taskCard.closed {
    grid-template-rows: 1fr 20px;
}

.taskCard.closed>.notes, .taskCard.closed>.checklist, .taskCard.closed>.edit,
.taskCard.closed>.delete {
    display: none;
}

.title {
    justify-self: center;
    grid-area: 1/1/2/2;
}

.taskDueDate {
    grid-area: 1/2/2/3;
}

.completedCheck {
    justify-self: end;
    margin-right: 20px;
    grid-area: 1/3/2/4;
}

.notes {
    grid-area: 2/1/3/4;
}

.checklist {
    grid-column: 1 / 4;
}

.checklistItem>label {
    margin-left: 6px;
}

.edit {
    grid-area: 4 / 2 / 5 / 3;
}

.delete {
    grid-area: 4 / 3 / 5 / 4;
}

.minimizeCard {
    grid-column: 1 / 4;
    justify-self: center;
}

#closeEditTaskMenu {
    position: relative;
    bottom: 55px;
    right: 5px;
}